
/* Services INTRO */

.services-intro [class*=bubble] {
    position: absolute;
    z-index: -1;
    border-radius: 50%
}

.services-intro [class*=bubble]:before {
    content: '';
    border-radius: 50%;
    position: absolute
}

.services-intro .bubble-one {
    width: 120px;
    height: 120px;
    left: 54%;
    top: 15%;
    animation: rotated 12s infinite linear
}

.services-intro .bubble-one:before {
    width: 6px;
    height: 6px;
    background: #fac3ff;
   
}

.services-intro .bubble-two {
    width: 160px;
    height: 160px;
    top: 30%;
    left: 15%;
    animation: rotated 17s infinite linear
}

.services-intro .bubble-two:before {
    width: 10px;
    height: 10px;
    background: #8fe9e0;
    top: 0;
    right: 0;
}

.services-intro .bubble-three {
    width: 120px;
    height: 120px;
    top: 13%;
    left: 14%;
    animation: rotatedTwo 12s infinite linear
}

.services-intro .bubble-three:before {
    width: 6px;
    height: 6px;
    background: #ffd5ad;
    bottom: 0;
    left: 50%
}

@keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotatedTwo {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


/* Services Intregration */

.services-integration .right-img img {
    width: 180px;
}

.services-integration .right-img .marquee {
    overflow: hidden;
}

.services-integration .right-img .marquee-content {
    display: flex;
    animation: scrolling 46s linear infinite;
}

.services-integration .right-img .marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
    /*   flex: 0 0 20vw; */
    /*   margin: 0 2vw; */
}

.services-integration .right-img.marquee-item img {
    display: block;
    width: 100%;
    /*   padding: 0 20px; */
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-134vw);
    }
}

/* Services-product  */

/* Front Services */
.services-product .services-icon {
    width: 72px;
}


.services-product .services-img img {
    width: 100%;
}
.services-product a{
    text-decoration: none;
    font-weight: 900;
}
.services-product a:hover{
text-decoration: underline;
}
