 
.video-demos-intro [class*=bubble] {
    position: absolute;
    z-index: -1;
    border-radius: 50%
}

.video-demos-intro [class*=bubble]:before {
    content: '';
    border-radius: 50%;
    position: absolute
}

.video-demos-intro .bubble-one {
    width: 120px;
    height: 120px;
    left: 54%;
    top: 15%;
    animation: rotated 12s infinite linear
}

.video-demos-intro .bubble-one:before {
    width: 6px;
    height: 6px;
    background: #fac3ff;
   
}

.video-demos-intro .bubble-two {
    width: 160px;
    height: 160px;
    top: 30%;
    left: 15%;
    animation: rotated 17s infinite linear
}

.video-demos-intro .bubble-two:before {
    width: 10px;
    height: 10px;
    background: #8fe9e0;
    top: 0;
    right: 0;
}

.video-demos-intro .bubble-three {
    width: 120px;
    height: 120px;
    top: 13%;
    left: 14%;
    animation: rotatedTwo 12s infinite linear
}

.video-demos-intro .bubble-three:before {
    width: 6px;
    height: 6px;
    background: #ffd5ad;
    bottom: 0;
    left: 50%
}

@keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotatedTwo {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
 


 
.video-demos-videos.borderLeft {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #ff9301;
    border-bottom-width: 10px;
    border-bottom-left-radius: 10px;
}

 .video-demos-videos .borderLeft:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    transition: 0.3s;
}
 .video-demos-videos   .hs-responsive-embed-youtube iframe {
     width: 100%!important;
    height: 290px;
    }