
/* about-intro  */

.about-intro [class*=bubble] {
    position: absolute;
    z-index: -1;
    border-radius: 50%
}

.about-intro [class*=bubble]:before {
    content: '';
    border-radius: 50%;
    position: absolute
}

.about-intro .bubble-one {
    width: 120px;
    height: 120px;
    left: 54%;
    top: 15%;
    animation: rotated 12s infinite linear
}

.about-intro .bubble-one:before {
    width: 6px;
    height: 6px;
    background: #fac3ff;

}

.about-intro .bubble-two {
    width: 160px;
    height: 160px;
    top: 30%;
    left: 15%;
    animation: rotated 17s infinite linear
}

.about-intro .bubble-two:before {
    width: 10px;
    height: 10px;
    background: #8fe9e0;
    top: 0;
    right: 0;
}

.about-intro .bubble-three {
    width: 120px;
    height: 120px;
    top: 13%;
    left: 14%;
    animation: rotatedTwo 12s infinite linear
}

.about-intro .bubble-three:before {
    width: 6px;
    height: 6px;
    background: #ffd5ad;
    bottom: 0;
    left: 50%
}

@keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotatedTwo {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/* about-us-info */



.about-us-info .nav-pills {
    border: none;
}

.about-us-info .nav-pills li {
    margin: 0 102px 0 0;

}

.about-us-info .nav-pills li:last-child {
    margin-right: 0
}

.about-us-info .nav-pills .nav-link {
    color: black !important;
}


.about-us-info .nav-pills .nav-link.active {
    color: white !important;
    background: #ff9301;
}



@media (max-width:575px) {

    .about-us-info .nav-pills li {
        margin: 20px 0 0
    }

    .about-us-info .nav-pills {
        justify-content: space-between
    }
}

/* about-achievement */

.about-achievement img {
    width: 80px;
    height: 80px;
}

.about-achievement .borderLeft {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-style: none;
    border-left-style: solid;
    border-left-color: #ff9301;
    border-left-width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.about-achievement .borderLeft:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    transition: 0.3s;
}

/* OUR TEAM */
.our-team .devOuter {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-bottom-style: solid;
    border-bottom-color: #ff9301;
    border-bottom-width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.our-team a i {
    font-size: 25px;
    background: #0e76a8;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.our-team a i:hover {

    background: #0e77a8c0;
    color: white;

}