
/* PRICING INTRO */

.pricing-intro [class*=bubble] {
    position: absolute;
    z-index: -1;
    border-radius: 50%
}

.pricing-intro [class*=bubble]:before {
    content: '';
    border-radius: 50%;
    position: absolute
}

.pricing-intro .bubble-one {
    width: 120px;
    height: 120px;
    left: 54%;
    top: 15%;
    animation: rotated 12s infinite linear
}

.pricing-intro .bubble-one:before {
    width: 6px;
    height: 6px;
    background: #fac3ff;
   
}

.pricing-intro .bubble-two {
    width: 160px;
    height: 160px;
    top: 30%;
    left: 15%;
    animation: rotated 17s infinite linear
}

.pricing-intro .bubble-two:before {
    width: 10px;
    height: 10px;
    background: #8fe9e0;
    top: 0;
    right: 0;
}

.pricing-intro .bubble-three {
    width: 120px;
    height: 120px;
    top: 13%;
    left: 14%;
    animation: rotatedTwo 12s infinite linear
}

.pricing-intro .bubble-three:before {
    width: 6px;
    height: 6px;
    background: #ffd5ad;
    bottom: 0;
    left: 50%
}

@keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotatedTwo {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


/* PRICING CARD */



.pricing-cards{
    position: relative;
    background: url("../../assets/images/svg/back-image.svg") no-repeat top center;
    background-size: cover;
    z-index: 1;
}

.pricing-cards .pr-table-wrapper {
    background: #fff;
    box-shadow: 0 -10px 40px rgb(60 67 113 / 5%);
    padding: 35px 0 25px;
    text-align: center;
    transition: all .3s ease-in-out;
    border-radius: 22px;
}
.pricing-cards .basic-pricing {
    border-top: 31px solid #7cff01;
}
.pricing-cards .premium-pricing {
    border-top: 31px solid #0116ff;
}
.pricing-cards .advanced-pricing {
    border-top: 31px solid #ff9301;
}

.pricing-cards .pr-table-wrapper  .pr-feature {
    text-align: left;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 46px 20px 36px 20px;
    margin: 19px 0 33px;
}

.pricing-cards .pr-table-wrapper  .pr-feature li {
   
    line-height: 42px;
    padding-left: 30px;
    position: relative;
    padding-bottom: 19px;
    list-style-type: none;
}

.pricing-cards .pr-table-wrapper  .pr-feature li:before {
    content: url("../../assets/images/svg/tick.svg");
    position: absolute;
    left: 0;
    top: 9px;
   fill: #ff9301 !important;
}