
.navigation {
    margin-top: 100px;
}
.navigation .navbar{
      box-shadow: rgba(99, 99, 99, 0.105) 0px 2px 8px 0px;
   
}

.navbar ul li {
    margin: 0 20px;
}


.navbar-nav .nav-item .nav-link {
  color: black;
    text-transform: capitalize;
    position: relative;
    transition: all .3s ease-in-out;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: white !important;
    background-color:#30d5c7
     ;
}

@media screen and (max-width: 912px) {
    .navbar ul li {
        margin: 0 10px;
      
    }
    .navbar .navbar-collapse{
        padding: 20px 0 20px 0;
    }
  }