
/* Services INTRO */

.features-intro [class*=bubble] {
    position: absolute;
    z-index: -1;
    border-radius: 50%
}

.features-intro [class*=bubble]:before {
    content: '';
    border-radius: 50%;
    position: absolute
}

.features-intro .bubble-one {
    width: 120px;
    height: 120px;
    left: 54%;
    top: 15%;
    animation: rotated 12s infinite linear
}

.features-intro .bubble-one:before {
    width: 6px;
    height: 6px;
    background: #fac3ff;

}

.features-intro .bubble-two {
    width: 160px;
    height: 160px;
    top: 30%;
    left: 15%;
    animation: rotated 17s infinite linear
}

.features-intro .bubble-two:before {
    width: 10px;
    height: 10px;
    background: #8fe9e0;
    top: 0;
    right: 0;
}

.features-intro .bubble-three {
    width: 120px;
    height: 120px;
    top: 13%;
    left: 14%;
    animation: rotatedTwo 12s infinite linear
}

.features-intro .bubble-three:before {
    width: 6px;
    height: 6px;
    background: #ffd5ad;
    bottom: 0;
    left: 50%
}

@keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotatedTwo {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/* features-started-steps */

.features-started-steps img {
    width: 150px;
}

.features-started-steps .arrow-shape {
    position: relative;
    z-index: 1;
}

.features-started-steps .arrow-shape::before {
    position: absolute;
    content: url("../../assets/images/svg/arrow-shape-before.svg");
    top: 26%;
    left: -20%;
}

.features-started-steps .arrow-shape::after {
    position: absolute;
    content: url("../../assets/images/svg/arrow-shape-after.svg");
    top: 26%;
    right: -10%;
}

@media (max-width: 768px) {
    .features-started-steps .arrow-shape::after {
      content: none;
    }
    .features-started-steps .arrow-shape::before {
        content: none;
      }
  }

  /* podio-crm-suit */

  .podio-crm-suit img {
    width: 100%;
}
.podio-crm-suit .intro-img {
    position: relative;
}
.podio-crm-suit .intro-img .play-button {
    width: 70px;
    padding: 15px;
    border-radius:10px;
    background: #fd6a5e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all .3s ease-in-out;
}

/* features-podio-crmFeatures */


.features-podio-crmFeatures img {
    width: 40px;
}

/*  */

/* podio-crm-suit-apps */

.podio-crm-suit-apps img {
    width: 72px;
    height: 72px;
}
.podio-crm-suit-apps h6{
    position: relative;
    display: inline-block;
}
.podio-crm-suit-apps h6::before {
    content: '';
    width: 100%;
    height: 3px;
    background: #ff9301;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    overflow: hidden;
}
.podio-crm-suit-apps .apps-card{
    width: 500px;
}