@import url('https://fonts.googleapis.com/css2?family=Acme&family=Spectral:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
}

.bg-deepNavyBlue {
    background: #30d5c7;
}

.bg-navyBlue {
    background: #e1f2fc;
}

.btn {
    color: white !important;
    border-radius: 30px !important;
    padding: 0 40px !important;
    transition: all .3s ease-in-out !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 48px !important;
    text-align: center !important;
}

.btn-orange {
    background:#555555 !important;

}
.btn-orange:hover{
    background:#555555eb !important;

}

.btn-outline-orange {
    border: 2px solid #555555 !important;
}

.btn-outline-orange:hover {
    border: 2px solid #55555525 !important;
    background: #55555534 !important;
}


.btn-outline-orange-tdark{
    border: 2px solid #555555 !important;
    color: black !important;
}
.btn-outline-orange-tdark:hover {
    border: 2px solid #555555 !important;
    background: #555555!important;
    color: white !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Acme', sans-serif;
}

.say h1 {
    font-size: 63px;
}

@media screen and (max-width: 991px) {
     .say  h1 {
        font-size: 48px;
        line-height: 1.25em;
    }
}
.intro-sub-head{
    
    margin-bottom:15px ;
}
.intro-sub-head span {
    background: #333333;
    color: white;
    font-weight: 600;
    padding: 0 10px 0 10px;
    
    border-radius: 5px;
}

.back-img {
    position: relative;
    background: url("./assets/images/svg/back-image.svg") no-repeat top center;
    background-size: cover;
    z-index: 1;

}

.separated img {
    width: 100%;
}

.shadowEff {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}